/**
* @Normalize Css
*/

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
mark {
    color: #000;
    background: #ff0;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
/*** Normalize Ends **/

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;

        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .navbar {
        display: none;
    }
    .btn > .caret,
    .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }
    .label {
        border: 1px solid #000;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table td,
    .table th {
        background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
}

/**** Project Specific Css ***/

/*
*
* @utils
*
*/


.fLeft {
    float: left;
}

.fRight {
    float: right;
}
.mtb-20 {
    margin: 20px 0;
}

.full-width {
    width: 100%;
}

.v-align-mid {
    vertical-align: middle;
}

.blk {
    display: block;
    zoom: 1;
    position:relative;
}

.blk:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    zoom: 1
}


.text-capitalize {
    text-transform: capitalize;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*
*
* @main
*
*/

main {
    margin: 40px;
}


.btn {
    padding: 15px;
    background-color: white;
    border: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    font-size: 1.2em;
    line-height: 1.3em;
    border-radius: 4px;
    -webkit-appearance: initial;
    outline: 0;
    cursor: pointer;
    color: rgba(0,0,0,0.7);
    display: block;
}

.btn:hover {
    box-shadow: inset 0 0 4px #4cae4c;
}

.btn--show {
    display: block;
}

.btn--centre {
    max-width: 200px;
    margin: 15px auto;
}

.btn--hide {
    display: block;
}


.hComp__left {
    display: inline-block;
    width: 40%;
    overflow: hidden;
}

.carouselSec {
    width: 5000px;
    transition: all .5s ease-in;
    position: relative;
    left: 0;
}
.carouselComp {
    float: left;
    width: 512px !important;
}

.hComp {
    width: 100%;
    margin: 30px 0;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.05);
    min-height: 480px;
    border: 1px solid lightgoldenrodyellow;
}

.hImg {
    width: 100%;
    height: 480px;
    background-color: lightcoral;
}

.hComp__right {
    display: inline-block;
    width: 55%;
    margin: 0 20px;
    vertical-align: top;
    min-height: 480px;
    position: relative;
}


.hRating {
    font-size: 1.5em;
}

.hCityCon {
    color: rgba(0,0,0,0.6);
    margin: 4px 0;
}

.hName {
    margin-bottom: 0;
}

.hHead {
    margin-bottom: 30px;
}

.hDesc {
    position: relative;
    font-size: 1em;
    line-height: 1;
    margin-bottom: 20px;
}

.hRevPrice {
    position: absolute;
    bottom: 20px;
    width: 95%;
}

.hPrice {
    font-size: 1.5em;
    line-height: 1.3em;
    letter-spacing: 1px;
}

.hPrTm {
    text-align: right;
    font-size: 1.5em;
    color: #444;
}

.error {
    background: #ccc;
    padding: 30px;
    font-size: 1.2em;
    border-radius: 4px;
    color: #333;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}

.hSec {
    height: 480px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2px;
    /* display: flex; */
    /* justify-content: center; */
}

.hTime {
    font-size: 0.75em;
    color: #555;
}

.rev {
    width: 98%;
    margin: auto;
    border-bottom: 1px solid lightgray;
    position: relative;
    overflow: auto;
}

.revSign {
    width: 30px;
    height: 30px;
    display: block;
    background: white;
    border-radius: 15px;
    text-align: center;
    line-height: 27px;
    margin: auto;
}

.revIcon {
    float: left;
    margin: 0 2.5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: auto;
    width: 10%;
}

section.revDetail {
    float: right;
    width: 85%;
}

.revTitle {
    font-size: 1.2em;
    padding: 10px 0;
}

.hReviewList {
    background-color: #ccc;
}

.revComment {
    font-size: 0.85em;
    color: #333;
    line-height: 1em;
    margin-bottom: 10px;
}

.noData {
    margin: 20px;
    padding: 20px;
}

/*
*
* @Media
*
**/


@media screen and (max-width: 1024px){
    .hSec {
        min-height: 480px;
        height: inherit;
    }
    .hComp__left {
       width: 100%;
    }
    .hComp__right {
        width: 95%;
        margin: 20px;
    }
}

@media screen and (max-width: 550px){
    main {
        margin: 0;
        font-size: 14px;
    }
    .hImg {
        max-height: 220px
    }
    .hComp__right {
        min-height: 300px;
    }

}

.hotelsContainer {
    max-width: 1280px;
    margin: auto;
}

.rightBtn, .leftBtn {
    min-width: 30px;
    font-size: 20px;
    position: absolute;
    top: 440px;
    left: 0px;
    cursor: pointer;
    z-index: 100;
    color: lightgrey;
    min-height: 30px;
    display: block;
}

.rightBtn {
    left: 490px;
}